$lightGrey: #E9EAED;
$midGrey: #D8D8D8;
$darkGrey: #505050;
$red: #E56660;
$darkRed: #B7524D;

@mixin shadow() {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

body {
	background-color: $lightGrey;
}

.houseDetails{
    position: relative;
    padding: 20px;
    background-color: red;
    height: 100px;
    width: 400px;
}

#houseName{
    color: white;
    font-size: 20px;
}

* {
 font-size: 100%;
 font-family: Arimo, Helvetica, Ariel, sans-serif;
}

input[type=text] {
	font-family: "Coming Soon", Helvetica, Ariel, sans-serif !important;
}

#digs-nav {
  position: relative;
}

#icon-menu {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -250px;
	width: 500px;
	float: left;
	ul {
		padding: 0;
		li {
			list-style-type: none;
			float: left;
			width: 100px;
			text-align: center;
			a {
				img {
					height: 60px;
					box-sizing: border-box;
					padding: 5px;
				}
			}
		} 
	}
}

#digs-nav {
	#main-digs-logo {
		height: 60px;
	}
}

.welcome-wrapper {
	@include shadow();
	@include clearfix();
	margin: 100px auto;
	padding: 10px 20px;
	width: 100%;
	max-width: 400px;
	background-color: $red;
	.welcomeTitle {
		text-align: center !important;
		color: $darkGrey;
	}
	.loginContainer {
		display: inline;
		width: 100%;
		height: 35px;
		h2 {
			font-size: 24px;
		}
		#login-digs-logo {
			width: 100%;
			max-width: 100%;
		}
		.logInButton {
			width: 100%;
			height: 35px;
			background-color: #B7524D;
			color: #fff;
			margin-top: 20px;
			border: 0;
		}
	}
}

#digs-nav {
	@include shadow();
	width: 100%;
	height: 60px;
	background-color: #fff;
	h1 {
		margin: 0 !important;
	}
}

#example-messages {
	ul {
		padding: 0 100px;

		li {
			font-family: "Coming Soon", Helvetica, Ariel, sans-serif !important;
			background-color: #fff;
			padding: 10px 15px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			list-style-type: none;
			margin-top: 10px


			strong {
				margin-right: 1em;
			}
		}	
	}
}