$lightGrey: #E9EAED;
$midGrey: #D8D8D8;
$darkGrey: #505050;
$red: #E56660;
$darkRed: #B7524D;

@mixin shadow() {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

body {
	background-color: $lightGrey;
	margin-top: 60px;

	&> container {
		margin-top: 90px;
	}

}

.row {
	margin: 0 auto;
}

.houseDetails{
	@include clearfix();
    position: relative;
    padding: 20px;
    background-color: $red;
    width: 100%;
    img {
    	height: 65px;
    	margin-left: 10px;
    }
    h1 {
    	display: inline-block;
    	float: left;
    	width: 100%;
    	margin: 0 0 10px;
    }

    #otherHouseUsers {
    	float: left;
    }

    #houseHoldProfilePictures {
    	float: left;
    	padding: 0;
    	li {
    		list-style-type: none;

    	}
    }
}

#houseName{
    color: white;
    font-size: 20px;
}

* {
	font-size: 100%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

input[type=text] {
	font-family: "Coming Soon", Helvetica, Ariel, sans-serif !important;
}

#digs-nav {
  position: fixed;
  top: 0;
  z-index: 10;
}

#icon-menu {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -250px;
	width: 500px;
	float: left;
	ul {
		padding: 0;
		li {
			list-style-type: none;
			float: left;
			width: 100px;
			text-align: center;
			a {
				img {
					height: 60px;
					box-sizing: border-box;
					padding: 5px;
				}
			}
		} 
	}
}

#digs-nav {
	#main-digs-logo {
		height: 60px;
	}
}

.container.logged-in, .container.logged-out {
	margin-top: 30px;
}

.welcome-wrapper {
	@include shadow();
	@include clearfix();
	margin: 100px auto;
	padding: 10px 20px;
	width: 100%;
	max-width: 400px;
	background-color: $red;
	.welcomeTitle {
		text-align: center !important;
		color: $darkGrey;
	}
	.loginContainer {
		display: inline;
		width: 100%;
		height: 35px;
		h2 {
			font-size: 24px;
		}
		#login-digs-logo {
			width: 100%;
			max-width: 100%;
		}
		.logInButton {
			width: 100%;
			height: 35px;
			background-color: #B7524D;
			color: #fff;
			margin-top: 20px;
			border: 0;
		}
	}
}

#digs-nav {
	@include shadow();
	width: 100%;
	height: 60px;
	background-color: #fff;
	h1 {
		margin: 0 !important;
	}
}

.house-details {
	
}

.example-chat {
	padding: 15px 0;

	#messageInput {
		width: 100% !important;
		height: 5em !important;
	}

	#example-messages {
		padding: 0 !important;
		li {

			font-family: "Coming Soon", Helvetica, Ariel, sans-serif !important;
			background-color: #fff;
			padding: 10px 15px;
			list-style-type: none;
			margin-top: 10px !important;

			.uploadedImage {
				width: 100%;
				max-width: 100%;
			}

			.example-chat-username {
				display: inline-block;
				width: 100%;
				border-bottom: 1px solid $darkGrey;
				margin: 0.5em 0 1em;
				margin-right: 1em;
			}
		}
	}
}

.demo-module {
	width: 100%;
	height: 200px;
	background-color: $midGrey;
}

.module {
	margin-bottom: 30px;
}

.module-shadow {
	@include shadow();
}